@font-face {
  font-family: 'GenJyuuGothic-Regular';
  src: url('../css/genjyuugothic/GenJyuuGothic-Regular.ttf');
}

.chinese {
  font-family: 'GenJyuuGothic-Regular', 'Vollkorn', serif;
}

#top {
    background-color: #67bec7;
    height: 10px;
}

body,
html {
    font-family: 'Vollkorn', serif;
    font-weight: 400;
    line-height: 1.3;
    font-size: 16px;
}

a {
    text-decoration: none;
}

.siteTitle {
    display: block;
    font-weight: 900;
    font-size: 30px;
    margin: 20px 0;
}

#logo {
    width: 100%;
}

.card {
  height: 120px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 5px;
  background-color: rgba(247, 246, 244, 1);
  box-shadow: 0 2px 2px #bbbaba;
}
.card:hover {
    border: 2px solid #5b9995;
    background-color: white;
}

.icon {
    width: 107px;
    background: url('../photos/topicNew.png') center center no-repeat;
}

.icon2 {
    width: 107px;
    background: url('../photos/recordNew.png') center center no-repeat;
}

.icon3 {
    width: 107px;
    background: url('../photos/gameNew\ copy.png') center center no-repeat;
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  background: transparent;
  box-sizing: border-box;
  margin-top: 33px;
  margin-left: 33px;
  width: 187px;
}
.title {
    font-size: 24px;
    text-align: left;
    font-weight: 550;
    color: #3b4d69;
    position: relative;
    margin: 0 0 0px 0;
}

.subtitle {
  color: #b2a79f;
  text-align: left;
  font-size: 19px;
  line-height: 1.6;
}