@media screen and (min-width: 475px) {
    #frame {
        position: absolute;
        top: 50%;
        left: 49.8%;
        transform: translate(-50%, -50%);
        content: url('../photos/iphone_6.png');
        /* z-index: 10; */
    }
}

#iphone {
    margin: 0;
    justify-self: center;
    width: 376px;
    height: 667px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
