/* 自訂 */
body {
    padding-bottom: 40px;
}

/* 中文字型 */
@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');

.chinese {
    font-family: 'Yomogi', cursive;
    margin: 0;
}

/*英文字型 */

#pitch-title {
    margin-top: 6px;
    margin-bottom: 11px;
    font-family: monospace;
}

/* card */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);

html {
    font-family: 'Open Sans', Helvetica, arial, sans-serif;
}

main {
    height: 667px;
    overflow: auto;
}

a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-size: 20px;
}

.col {
    align-items: center;
    width: 330px;
    height: 60px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    border-bottom: rgba(247, 246, 244, 1) 2px solid;
    margin-left: 23px;
}

.content {
    width: 220px;
    margin-left: 30px;
    padding-top: 5px;
    color: #444645;
    cursor: pointer;
}

.col:nth-child(2n + 1) {
    border-left: solid 2px #5b9995;
    box-shadow: 0 2px 2px #bbbaba;
}

.col:nth-child(2n) {
    border-left: solid 2px #d58f63;
    box-shadow: 0 2px 2px #bbbaba;
}

.col:nth-child(3n + 1) {
    border-left: solid 2px #c5d6d8;
    box-shadow: 0 2px 2px #bbbaba;
}

.col:nth-child(4n + 1) {
    border-left: solid 2px #d76954;
    box-shadow: 0 2px 2px #bbbaba;
}

.icon {
    width: 40px;
    height: 30px;
    background-color: #09bccc;
    color: rgba(240, 240, 240, 1);
    padding-top: 10px;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    margin-left: 17px;
}

#pitchTopic {
    width: 375px;
    margin-bottom: 15px;
}
