* {
    color: rgba(48, 78, 102, 1);
}
body {
    background-color: rgba(247, 246, 244, 1);
}

.form-container {
    /* justify-content: center; */

    margin-top: 20px;
    margin-left: 30px;
    width: 337.5px;
    height: 333.5px;
    font-size: 16px;
    /* border: solid 2px; */
    border-radius: 20px;
    position: fixed;
    /* left: 0vw; */
    top: 234px;
}
#login-form,
#create-acount {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 300px;
}
label,
input[type='text'] {
    padding-left: 10px;
    border: 2px solid rgba(59, 185, 193, 1);
}
input[type='text'] {
    width: 90%;
    height: 30px;
    margin-top: 10px;
    border-radius: 20px;
}
button[type='submit'] {
  width: 36%;
  margin-left: 28%;
  height: 30px;
  border-radius: 20px;
  border: 2px solid #8EDCDC;
  color: white;
  background-color: #8EDCDC;
}

#change {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    margin-left: 93.75px;
    width: 187.5px;
    /* height: 50%; */
    /* font-size: 16px;
    border: solid 2px;
    border-radius: 8px; */
    position: fixed;
    /* left: 0vw; */
    top: 580px;
}
#sign-up,
#sign-in {
    width: 40%;
    border: none;
    background-color: transparent;
    border-bottom: rgba(48, 78, 102, 1) solid 3px;
    padding-bottom: 10px;
    font-size: 14px;
    position: fixed;
    left: 112px;
}
#sign-up:active,
#sign-in:active {
    border-bottom: white solid 3px;
}

input#psw {
    margin-top: -12px;
}
